
<header class="usa-header site-c-header" role="banner">
  <div class="usa-navbar site-c-navbar">
    <a href="{{ site.baseurl }}/" title="USDS Home" class="site-c-navbar__logo-link">
      <img class="site-c-navbar__logo" src="{{ site.baseurl }}/assets/img/dds-logo-horizontal.png" alt="DDS Logo">
    </a>
    <button class="usa-menu-btn site-c-navbar__button" aria-label="Menu">
      <svg aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/fontawesome-sprite.svg#bars"></use>
      </svg>
    </button>
  </div>

  <nav role="navigation" class="usa-nav site-c-nav">
      <button class="usa-nav__close">
        <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
      </button>

      <ul class="site-c-nav__primary-nav">
        <li class="site-c-nav__primary-nav__item">
          <a class="site-c-nav__primary-nav__link" href="">Our Mission</a>
        </li>
        <li class="site-c-nav__primary-nav__item">
          <a class="site-c-nav__primary-nav__link" href="">Projects</a>
        </li>
        <li class="site-c-nav__primary-nav__item">
          <a class="site-c-nav__primary-nav__link" href="">Partners/Jyn</a>
        </li>
        <li class="site-c-nav__primary-nav__item">
          <a class="site-c-nav__primary-nav__link" href="">Marketplace</a>
        </li>
        <li class="site-c-nav__primary-nav__item">
          <a class="site-c-nav__primary-nav__link" href="">News/Press</a>
        </li>
      </ul>

  </nav>
</header>
<div class="usa-overlay"></div>
