<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title %}
      {% if page.title == "Home" %}
        {{ site.title | escape }}
      {% elsif page.marketplace_page %}
        {{ page.title | escape }} | Marketplace | {{ site.title | escape }}
      {% else %}
        {{ page.title | escape }} | {{ site.title | escape }}
      {% endif %}
    {% else %}
      {{ site.title | escape }}
    {% endif %}
  </title>
  <meta name="description" content="{{ page_description }}" />
  <link rel="canonical" href="{{ url_path }}" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:description" content="{{ page_description }}" />
  <meta property="og:url" content="{{ url_path }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{{ share_image }}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@usds" />
  <meta name="twitter:image" content="{{ share_image }}">

  <meta name="application-name" content="Defense Digital Service"/>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/assets/img/favicons/site.webmanifest">
  <link rel="mask-icon" href="{{ site.baseurl }}/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/assets/stylesheets/application.css"></link>
</head>
