<section class="site-c-section">
  <div class="grid-row grid-gap">
    <div class="grid-col-12 site-c-section-heading site-c-section-heading--keep-column tablet:padding-right-3">
      <h2 class="site-c-section-heading__heading">Join the Defense Digital Service</h2>
      <div class="grid-row grid-gap margin-y-3">
        <div class="grid-col-6">
          <span class="usa-tag bg-accent-cool text-white font-mono-2xs">Civilian</span>
          <h3 class="margin-top-1">The United States Digital Service</h3>
          <p>The Defense Digital Service is an agency team of the U.S. Digital Service. Apply through USDS and note your interest in working for DDS.</p>
        </div>
        <div class="grid-col-6">
          <span class="usa-tag bg-accent-cool text-white font-mono-2xs">DOD &amp; military</span>
          <h3 class="margin-top-1">Temporary duty assignment</h3>
          <p>We work alongside service members and civil servants across the Defense Department. DOD civilians and military members with technical expertise can apply to work with DDS on short-term details.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-row grid-gap">
    <div class="grid-col-6">
      <a class="usa-button" href="https://www.usds.gov/apply">Apply at USDS <img src="{{ site.baseurl }}/assets/img/layout/external-link-white.svg" class="height-2 margin-left-1 margin-bottom-neg-2px" alt="Apply to USDS external link"/></a>
    </div>
    <div class="grid-col-6">
      <a class="usa-button" href="https://hire.withgoogle.com/public/jobs/ddsmil/view/P_AAAAAAEAAF3KkxWUnRXoHq">Apply for TDY <img src="{{ site.baseurl }}/assets/img/layout/external-link-white.svg" class="height-2 margin-left-1 margin-bottom-neg-2px" alt="TDY to DDS external link"/></a>
    </div>
  </div>
</section>
