<div class="site-c-cards margin-x-neg-2 site-js-carousel">
  {% for project in site.data.projects %}
    {% unless project.hide %}
      <div class="padding-x-2">
        <div class="site-c-card">
          <img class="site-c-card__image" src="" data-lazy-src="{{ site.baseurl }}/images/projects/{{ project.img_url }}" alt="{{ project.title }}" />
          <div class="site-c-card__body">
            <span class="site-c-flag">{{ project.name }}</span>
            <span class="site-c-card__title">{{ project.title }}</span>
            <div class="usa-prose margin-top-2">
              <p>{{ project.summary | truncatewords: 45, "" }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>
