<ul class="grid-row tablet:margin-x-neg-2 site-c-articles margin-top-neg-3">
  {% for project in site.data.projects %}
  <li class="grid-col-12 tablet:grid-col-4 tablet:padding-x-2 site-c-article">
    {% assign image_name = project.source | downcase | replace: " ", "-" %}
    <img class="display-block width-100 margin-bottom-2" src="{{ site.baseurl }}/assets/img/projects/{{ image_url }}" alt="{{ project.source }} logo" />
    <p><strong>{{ project.name }}</strong></p>
    <p>{{ project.title }}</p>
    <p>{{ project.summary }}
  </li>
  {% endfor %}
</ul>
