---
layout: default
permalink: /
title: Home
simple_footer: true
---

{% assign content = site.data.home %}

<div class="site-c-page-banner site-c-page-banner--min-height">
  <img src="{{ site.baseurl }}/images/index-hero.jpg" srcset="{{ site.baseurl }}/assets/img/index-hero.jpg 640w, {{ site.baseurl }}/images/index-hero.jpg" alt="Defense Digital Service">
  <div class="site-c-page-banner__text">
    <div class="grid-container">
      <h1 class="site-c-page-banner__header">{{ content.hero.heading_title }}</h1>
      {% if content.hero.heading_button_text %}
        <a class="usa-button usa-button--outline usa-button--inverse usa-button--big" href="{{ site.baseurl }}{% link pages/our-mission.html %}">{{ content.hero.heading_button_text }}</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="grid-container margin-y-5">

  <section class="site-c-section">
    <div class="grid-row">
      <div class="grid-col-12 tablet:grid-col-7 desktop:grid-col-8 site-c-section-heading site-c-section-heading--keep-column tablet:padding-right-3 margin-bottom-2">
        <h2 class="site-c-section-heading__heading">Solving big problems, supporting critical missions.</h2>
        <p>The Defense Digital Service (DDS) is an agency team of the <a href="https://www.usds.gov">U.S. Digital Service</a>. We hire top technologists on term-limited "tours of duty" to help build better services and solutions. Our mission is to drive a giant leap forward in the way the Department builds, buys and deploys technology and digital services.</p>
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}/our-mission">Learn about our mission</a>
      </div>
    </div>
  </section>

  <hr />

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">Projects</h2>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.work.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
      <div class="site-c-section-heading__links">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}{% link pages/projects.html %}">{{ content.work.heading_button_text }}</a>
      </div>
    </div>

    {% include projects-carousel.html %}

  </section>

  <hr />

  {% include apply.html %}

  <hr />

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.news.heading_title }}</h2>
      <div class="site-c-section-heading__links card:display-none tablet:display-block">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}" class="usa-button usa-button--outline">{{ content.news.heading_button_text }}</a>
      </div>
      <p>{{ content.news.description }}</p>
    </div>
    <div class="site-c-section__body">
      {% include news-clips.html %}
      <p class="tablet:display-none">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}" class="usa-button usa-button--outline">{{ content.news.heading_button_text }}</a>
      </p>
    </div>
  </section>

</div>
