---
layout: default
title: News & press
permalink: /news-press
---

{% assign content = site.data.news_and_press %}

{% include _page-heading.html %}
<div class="grid-container margin-y-5">
  <div class="grid-row">
    <div class="grid-col-12 tablet:grid-col-7 desktop:grid-col-8 site-c-section-heading site-c-section-heading--keep-column tablet:padding-right-3">
      <h1>{{ content.page_title.heading_title }}</h1>
      <p>{{ content.page_title.heading_text }}</p>

      <h2>{{ content.press_clips.heading_title }}</h2>
      {% include news-clips.html %}

      <h2>{{ content.medium.heading_title }}</h2>
      <ul>
        {% for article in site.data.medium_posts %}
          <li>
            <a class="" href="{{ article.url }}" target="_blank">{{ article.title }}</a>
          </li>
        {% endfor %}
      </ul>

      <h2>{{ content.press_releases.heading_title }}</h2>
      <ul>
        {% for project in site.press_releases %}
          <li>
            <a class="" href="{{ site.baseurl }}/{{ project.permalink }}">{{ project.title }}</a>
          </li>
        {% endfor %}
      </ul>

      <h2>{{ content.for_the_press.heading_title }}</h2>
      <p>{{ content.for_the_press.heading_text }}</p>


    </div>
  </div>
</div>
